* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #e8daca;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.title-description {
    text-align: center;
    font-size: 30px;
}

.specs, .price {
    font-size: 20px;
    text-align: justify;
    margin: 15px;
}

.price {
    margin-left: 75px;
}

.second-ul {
    margin-left: 10px;
}

p {
    margin: 15px;
}

#header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#video {
    display: block;
    margin: 0 auto;
    background-color: #777;
}

#nav-bar {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    font-size: 20px;
}

a {
    color: rgb(61, 60, 60);
}

a:hover {
    color: rgb(0, 0, 0);
}

.images {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-image: none;
}

section div img {
    max-width: 18%;
    max-height: 18%;
    margin: 20px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out 0ms;
    z-index: 0;
}

section div img:hover {
    transform: scale(1.1);
}

form {
    text-align: center;
    margin: 20px;
}

